*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}

* {
  .selection({
    background-color: fade(@yellow2,99);
    color: #111;
  });
}

html {
  -ms-touch-action: none;
  font-weight: normal;
  font-size: 10vw;
  line-height: 1.5;
}

body {
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  &:hover {
  }
}

b, strong {
}

p {
}

input,
select,
textarea {
  .appearance;
}