@font-face {
    font-family: 'ClearSans';
    src: ~'url(@{url}fonts/clearsans-bold-webfont.eot)';
    src: ~'url(@{url}fonts/clearsans-bold-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(@{url}fonts/clearsans-bold-webfont.woff2)' format('woff2'),
         ~'url(@{url}fonts/clearsans-bold-webfont.woff)' format('woff'),
         ~'url(@{url}fonts/clearsans-bold-webfont.ttf)' format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'ClearSans';
    src: ~'url(@{url}fonts/clearsans-regular-webfont.eot)';
    src: ~'url(@{url}fonts/clearsans-regular-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(@{url}fonts/clearsans-regular-webfont.woff2)' format('woff2'),
         ~'url(@{url}fonts/clearsans-regular-webfont.woff)' format('woff'),
         ~'url(@{url}fonts/clearsans-regular-webfont.ttf)' format('truetype');
    font-weight: 400;
    font-style: normal;

}