@import ~'@{dir}normalize';
@import ~'@{dir}fonts';
@import ~'@{dir}mixins';
@import ~'@{dir}base';

@d: 128rem;
@m: 32rem;
@yellow: #efff00;
@dark: #4d4c4d;
@yellow2: #f5ff6c;
@lightgrey: #ebebeb;
@darkgrey: #d7d7d7;

* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 10vw;
    font-family: 'ClearSans';
    font-weight: 700;
}
body {
    font-size: 12/@d;
    color: @dark;
}

.header {
    background: @yellow;
    position: absolute;
    width: 100%;
    height: 48/@d;
    z-index: 5;
    ul {
        float: right;
    }
    li {
        display: inline-block;
        margin-left: 30/@d;
        font-size: 11/@d;
        line-height: 48/@d;
        &:first-child {
            margin: 0;
        }
        a {
            position: relative;
            display: block;
            &:before {
                content: " ";
                position: absolute;
                width: 0;
                height: 2/@d;
                top: 34/@d;
                left: 0;
                background: @dark;
                transition: width 150ms ease-in-out;
            }
            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
    a {
        color: @dark;
        text-decoration: none;
        cursor: pointer;
    }
    .dropdown {
        position: absolute;
        width: 160/@d;
        background: @yellow;
        opacity: 0;
        padding: 0 20/@d 10/@d 20/@d;
        margin-left: -20/@d;
        transition: opacity 150ms ease-in-out;
        pointer-events: none;
        border-bottom-left-radius: 6/@d;
        border-bottom-right-radius: 6/@d;
        li {
            display: block;
            margin: 0;
            line-height: 27/@d;
            a:before {
                display: none;
            }
        }
    }
    li:hover {
        ul {
            opacity: 1;
            pointer-events: all;
        }
    }
}
.menu-burger {
    display: none;
}
.wrap {
    .clear;
    width: 800/@d;
    margin: 0 auto;
}
.logo {
    float: left;
    display: block;
    text-transform: uppercase;
    font-size: 16/@d;
    line-height: 48/@d;
}
/*.header {
    .wrap {
        position: relative;
    }
}*/
.back-button {
    display: block;
    position: relative;
    left: 24/@d;
    float: right;
    margin-top: 11/@d;
    width: 25/@d;
    height: 25/@d;
    background: @dark;
    transition: background 200ms ease-in-out;
    &:before {
    content: "";
    .sheet;
    .image('arrows.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15/@d 13/@d;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
    }
    &:after {
    content: "";
    .sheet;
    .image('arrows-dark.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15/@d 13/@d;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    }
    &:hover {
        background: @yellow;
        &:before {
            opacity: 0;
        }
        &:after {
            opacity: 1;
        }
    }

}
/*
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 ----------------------------------------------TREE------------------------------------------------------
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 */
.leaf-image {
    width: 149/@d;
    height: 230/@d;
    position: absolute;
    top: 47/@d;
    left: 507/@d;
    background-repeat: no-repeat;
}
.spider-image {
    width: 108/@d;
    height: 133/@d;
    position: absolute;
    top: 260/@d;
    left: 482/@d;
    background-repeat: no-repeat;
}
.open-image {
    width: 109/@d;
    height: 109/@d;
    position: absolute;
    top: 295/@d;
    left: 654/@d;
    background-repeat: no-repeat;
}
.small-leaf1 {
    width: 40/@d;
    height: 67/@d;
    position: absolute;
    left: 485/@d;
    top: 418/@d;
    background-repeat: no-repeat;
}
.small-leaf2 {
    width: 40/@d;
    height: 67/@d;
    position: absolute;
    left: 696/@d;
    top: 418/@d;
    background-repeat: no-repeat;
}
.eyes-image {
    width: 48/@d;
    height: 19/@d;
    position: absolute;
    left: 585/@d;
    top: 452/@d;
    background-repeat: no-repeat;
}
.mouth-image {
    width: 68/@d;
    height: 39/@d;
    position: absolute;
    left: 575/@d;
    top: 494/@d;
    background-repeat: no-repeat;
}
.chin-image {
    width: 17/@d;
    height: 17/@d;
    position: absolute;
    left: 602/@d;
    top: 568/@d;
    background-repeat: no-repeat;
}
.hand {
    width: 93/@d;
    height: 154/@d;
    position: absolute;
    left: 428/@d;
    top: 795/@d;
    background-repeat: no-repeat;
}



.tree {
    .image('grid.png');
    background-size: 1280/@d auto;
    height: 1315/@d;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
}
.main-image img {
    position: absolute;
    left: 484/@d;
    top: 46/@d;
    width: 273/@d;
    height: 535/@d;
}
.text {
    position: absolute;
    line-height: 15/@d;
}
.text1 {
    width: 215/@d;
    top: 76/@d;
    line-height: 18/@d;
}
.text2 {
    width: 92/@d;
    top: 88/@d;
    right: 410/@d;
    span {
        font-size: 10/@d;
        margin-top: 6/@d;
        line-height: 12/@d;
        display: block;
    }
}
.text3 {
    width: 92/@d;
    right: 216/@d;
    top: 168/@d;
}

.col {
    position: absolute;
    h2 {
        margin-bottom: 26/@d;
    }
    line-height: 18/@d;
}
.more-button {
    background: @yellow;
    width: 26/@d;
    height: 26/@d;
    display: block;
    margin-top: 6/@d;
    position: relative;
    //----
    transition: background 200ms ease-in-out;
    &:before {
    content: "";
    .sheet;
    .image('arrow-right.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15/@d 12/@d;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
    }
    &:after {
    content: "";
    .sheet;
    .image('arrow-right-yellow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15/@d 12/@d;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    }
    &:hover {
        background: @dark;
        &:before {
            opacity: 0;
        }
        &:after {
            opacity: 1;
        }
    }
    //---------
}
.col-1 {
    top: 450/@d;
    left: 324/@d;
    width: 200/@d;
}
.col-2 {
    top: 450/@d;
    left: 812/@d;
    width: 400/@d;
}
.post-container {
    margin-bottom: 42/@d;
}
.post-link-event {
    display: block;
    overflow: hidden;
    width: 300/@d;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.branch {
    position: absolute;
    left: 325/@d;
    width: 78/@d;
    height: 33/@d;
    top: 930/@d;
    background-repeat: no-repeat;
}

.ground {
    position: absolute;
    background: @dark;
    top: 1031/@d;
    height: 334/@d;
    width: 100%;
}
.manifest {
    color: @yellow;
    margin-left: 324/@d;
    margin-top: 60/@d;
    max-width: 215/@d;
    h2 {
        font-size: 17/@d;
    }
}
/*
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 ----------------------------------------------SHARE------------------------------------------------------
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 */
.share {
    height: 197/@d;
    width: 100%;
    background: @yellow;
    margin-top: -2/@d;
    position: relative;
}
.share-container {
    position: absolute;
    top: 8/@d;
    textarea {
        border: 5/@d solid @dark;
        background-color: @yellow;
        resize: none;
        font-weight: 400;
    }
}
.message {
    text-transform: uppercase;
}
.message span {
    background: @yellow;
    position: relative;
    top: 10/@d;
}
.message textarea {
    width: 374/@d;
    height: 89/@d;
    padding: 12/@d 17/@d;
}
.name {
    display: inline-block;
    text-transform: uppercase;
}
.name span {
    background: @yellow;
    position: relative;
    top: 10/@d;
}
.name textarea {
    width: 283/@d;
    height: 39/@d;
    padding-top: 8/@d;
    padding-left: 17/@d;
    padding-right: 17/@d;
}
.share-button {
    color: @yellow;
    background: @dark;
    text-transform: uppercase;
    width: 82/@d;
    height: 39/@d;
    text-decoration: none;
    display: inline-block;
    line-height: 39/@d;
    position: relative;
    left: 6/@d;
    bottom: 16/@d;
    text-align: center;
    border-radius: 2/@d;
    transition: background 200ms ease-in-out, color 200ms ease-in-out;
    &:hover {
        background: @yellow;
        color: @dark;
    }
}
.flag svg {
    width: 171/@d;
    height: 317/@d;
    position: absolute;
    left: 723/@d;
    top: 18/@d;
    z-index: 1;
}
/*
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 ----------------------------------------------COMMENTS---------------------------------------------------
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 */
.comments {
    .clear;
    background: @dark;
    color: @yellow;
    position: relative;
    z-index: 5;
    padding-bottom: 120/@d;
}
.comment-container {
    padding-top: 38/@d;
}
.item {
    width: 224/@d;
    margin-bottom: 35/@d;
    margin-right: 21/@d;
}
.item p {
    margin-bottom: 18/@d;
}
.author {
    text-align: right;
}
.comment-container[data-columns]::before {
	content: '3 .column.size-1of3';
}
.column { float: left; }
.size-1of3 { width: 246/@d; }
/*
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 ----------------------------------------------FOOTER-----------------------------------------------------
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 */
.index-footer {
    height: 106/@d;
    padding-top: 32/@d;
    background: #ffffff;
    color: @dark;
    font-weight: 400;
}
.event-footer {
    height: 106/@d;
    position: absolute;
    bottom: 0;
    width: 100vw;
    color: @dark;
    font-weight: 400;
    padding-top: 32/@d;
}
.footer-container {
    position:relative;
    margin-left: 236/@d;
    padding-top: 35/@d;
}
.back-button-bottom {
    position:absolute;
    right: 190/@d;
    bottom: 76/@d;
    z-index: 10;
    display: block;
    width: 25/@d;
    height: 25/@d;
    background: @yellow;
    .image('arrows-dark.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15/@d 13/@d;
}
.copyright {
//    padding-top: 46/@d;
    .clear;
    div {
        display: inline-block;
    }
    .footer-img1 {
        svg {
            width: 94/@d;
            height: 45/@d;
        }
        background-size: cover;
        margin-right: 44/@d;
    }
    .footer-img2 {
        position: relative;
        bottom: 6/@d;
        svg {
            width: 87/@d;
            height: 35/@d;
        }
    }
    span {
        display: inline-block;
        font-weight: 400;
        font-size: 11/@d;
        position: relative;
        bottom: 10/@d;
        margin-right: 30/@d;
        bottom: 31/@d;
    }
    .copy {
        float: right;
        padding-top: 32/@d;
        position: relative;
        left: 122/@d;
    }
}
/*
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 ----------------------------------------------EVENTS-----------------------------------------------------
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 */
 .wrapper {
     min-height: 100vh;
     padding-top: 48/@d;
     position: relative;
     width: 100%;
     overflow: hidden;
 }
 .event-section {
     position: relative;
     margin-bottom: 20/@d;
 }
 .events {
    max-width: 571/@d;
    margin: 0 auto;
    margin-top: 43/@d;
    border-left: 5/@d solid @yellow;
    border-top: 5/@d solid @yellow;
    font-size: 0;
    position: relative;
}
 .event {
     width: 113/@d;
     height: 113/@d;
     border-right: 5/@d solid @yellow;
     border-bottom: 5/@d solid @yellow;
     position: relative;
     display: inline-block;
 }
 .top-event {
    border-top: 5/@d solid @yellow;
    height: (113+5)/@d;
 }
 .event-container {
     margin-top: 7/@d;
     margin-left: 7/@d;
 }
 .date {
    font-size: 12/@d;
    padding-bottom: 12/@d;
 }
 .event-title {
     font-size: 10/@d;
     max-width: 76/@d;
     line-height: 12/@d;
 }
 .more {
     position: absolute;
     right: -4/@d;
     bottom: -4/@d;
 }
 .registration {
    position: absolute;
    font-size: 13/@d;
    right: -4/@d;
    top: -4/@d;
    width: 26/@d;
    height: 26/@d;
    border: 5/@d solid @yellow;
    text-align: center;
    line-height: 17/@d;
    color: @dark;
 }
 .months {
     position: absolute;
 }
 .months ul {
    text-transform: uppercase;
    line-height: 25/@d;
 }
 .months li {
    position: relative;
    a {
        position: relative;
        &:before {
            content: " ";
            position: absolute;
            width: 0;
            height: 2/@d;
            top: 19/@d;
            background: @dark;
            transition: width 150ms ease-in-out;
        }
        &:hover {
            &:before {
                width: 100%;
            }
        }
    }
    
 }
 .months a {
    color: @dark;
    text-decoration: none;
 }
.reg-back {
    margin-bottom: 50/@d;
    margin: 0 auto;
    max-width: 4.69rem;
    position: relative;
    left: 15/@d;
}
 .registration-div {
     margin-top: 24/@d;
     .r-box {
         border: 5/@d solid @yellow;
         width: 26/@d;
         height: 26/@d;
         text-align: center;
         line-height: 17/@d;
         display: inline-block;
         font-size: 13/@d; 
     }
     span {
         display: inline-block;
         margin-left: 7/@d;
     }
 }
 .go-back {
     //position: relative;
     height: 25/@d;
     .clear;
     a {
     &:nth-child(1) {
        display: none;
    }
    }
 }
 .contact-back-button .go-back {
    a {
        &:nth-child(1) {
           display: block;
       }
    }
 }
 .index-back-button .go-back {
    a {
        &:nth-child(1) {
           display: block;
       }
    }
 }
.back-button-events {
    float: right;
    position: relative;
    left: 24/@d;
    display: block;
    width: 25/@d;
    //position: absolute;
    //z-index: 10;
    //right: 190/@d;
    height: 25/@d;
    background: @yellow;

    transition: background 200ms ease-in-out;
    &:before {
        content: "";
        .sheet;
        .image('arrows-dark.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15/@d 13/@d;
        opacity: 1;
        transition: opacity 200ms ease-in-out;
    }
    &:after {
        content: "";
        .sheet;
        .image('arrows-yellow.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15/@d 13/@d;
        opacity: 0;
        transition: opacity 200ms ease-in-out;
    }
    &:hover {
        background: @dark;
        &:before {
            opacity: 0;
        }
        &:after {
            opacity: 1;
        }
    }

}
/*
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 ----------------------------------------------CONTACT----------------------------------------------------
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 */
 .contact-text {
     float: left;
     .clear;
     margin-top: 46/@d;
     font-weight: 400;
     line-height: 15/@d;
     p {
         margin-bottom: 20/@d;
     }
 }
 .contact-img {
     float: right;
     .clear;
     margin-top: 46/@d;
     margin-right: 22/@d;
     img {
         width: 550/@d;
         height: auto;
     }
     margin-bottom: 42/@d;
 }
 /*
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 ----------------------------------------------NEWS----------------------------------------------------
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 */

 .news-top {
     p {
         font-weight: 400;
     }
     position: relative;
 }
 .news-top-text {
    //padding-right: 475/@d;
    max-width: 315/@d;
    margin-top: 57/@d;
    float: left;
    .clear;
    font-size: 10/@d;
     h2 {
         font-size: 13/@d;
         margin-bottom: 42/@d;
     }
     p {
         margin-bottom: 20/@d;
     }
     position: relative;
 }
 .news-images {
    position: absolute;
    left: 495/@d;
     bottom: 66/@d;
     padding-right: 78/@d;
     img {
        display: none;
     }
     div {
         width: 227/@d;
         height: 150/@d;
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
     }
 }
 .news-image-1 {
    position: relative;
    right: 81/@d;
    margin-bottom: 18/@d;
 }
 .news-date {
     position: absolute;
     left: 950/@d;
     top: 70/@d;
 }
 .news-video {
     .image('video-bg.png');
     background-size: 1280/@d auto;
     height: 216/@d;
     background-repeat: no-repeat;
     background-position: center top;
     position: relative;
     margin-top: 40/@d;
     margin-bottom: 40/@d; 
     iframe {
         width: 392/@d;
         height: 215/@d;
         border: 0;
     }
 }
 .video-text {
     position: absolute;
     left: 730/@d;
     top: 60/@d;
     max-width: 120/@d;
     line-height: 12/@d;
     font-size: 10/@d;
 }
 .news-area {
     font-size: 10/@d;
     padding-right: 475/@d;
     margin-bottom: 40/@d;
 }
 .gallery-images {
     .clear;
     margin: 0 -9/@d;
     padding-right: 78/@d;
     .gallery-image {
         width: 33.33%;
         height: 152/@d;
         padding-left: 9/@d;
         padding-right: 9/@d;
         float: left;
         margin-bottom: 18/@d;
         > div {
             background-size: cover;
             height: 152/@d;
             background-repeat: no-repeat;
             background-position: center;
         }
     }
 }
 .active-image {
    background: #000000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
 .hover-image {
     span {
        color: #ffffff;
        position: absolute;
        padding: 15/@d;
        z-index: 1;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
     }
}
 .image-class {
     position: relative;
     cursor: pointer;
     display: block;
     height: 300px;
     &:hover {
        .active-image {
            opacity: 0.7;
        }
        .hover-image {
            span {
                opacity: 0.9;
            }
        }
        .plus-num {
            span {
                opacity: 1;
            }
        }
     }
     a {
        .sheet;
        z-index: 1;
     }
 }
 .dots {
     display: none;
 }
 .last-image {
    background: #000000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
 }
 .plus-num {
     span {
        color: #ffffff;
        position: absolute;
        text-align: center;
        padding-top: 35/@d;
        font-size: 50/@d;
        font-weight: 400;
        z-index: 1;
        left: 75/@d;
        opacity: 0.9;
        transition: opacity 150ms ease-in-out;
     }
 }

 .other-news {
     margin-bottom: 50/@d;
     margin-top: 40/@d;
 }
 .other-news-header {
     font-size: 17/@d;
     text-transform: uppercase;
     margin-bottom: 26/@d;
 }
 .other-news-item {
     max-width: 145/@d;
     margin-right: 25/@d;
     font-size: 13/@d;
     line-height: 15/@d;
     display: inline-block;
 }
 .news-back-button .go-back {
     position: relative;
     bottom: 76/@d;
 }

 .big-image {
     width: 640/@d;
     height: auto;
     margin-bottom: 40/@d;
 }
 .news-top-content {
    padding-right: 148/@d;
    margin-top: 57/@d;
    float: left;
    .clear;
    font-size: 10/@d;
     h2 {
         font-size: 13/@d;
         margin-bottom: 42/@d;
     }
     position: relative;
 }
 .news-text {
    columns: 2;
    column-gap: 20/@d;
    margin-bottom: 30/@d;
 }


 .gallery-text {
     margin-top: 70/@d;
     margin-bottom: 25/@d;
     .clear;
     
 }
 .event-name {
     max-width: 150/@d;
     float: left;
 }
 .gallery-date {
     float: right;
     padding-right: 78/@d;
 }

.gallery-back-button {
    margin-top: 40/@d;
    margin-bottom: 75/@d;
}
.gallery-container {
    margin-bottom: 180/@d;
}

.map-intro {
    padding-top: 48/@d;
    background: @dark;
    color: @yellow;
}
.map-intro-text {
    h2 {
        font-size: 17/@d;
        text-transform: uppercase;
        margin-bottom: 18/@d;
    }
    columns: 210/@d 3;
    column-gap: 10/@d;
    padding-top: 62/@d;
    padding-bottom: 72/@d;
    margin-right: 70/@d;
}
.mobile-heading {
    display: none;
}

.map-text {
    max-width: 210/@d;
}
.map-back-button {
    padding-top: 50/@d;
    a {
        &:nth-child(1) {
            transform: rotate(90deg);
            left: 62/@d;
        }
        &:nth-child(2) {
            left:49/@d;
        }
    }
}

.map {
    height: 650/@d;
    position: relative;
}
.find {
    padding-top: 51/@d;
}
.search-place {
    line-height: 31/@d;
    display: inline-block;
    font-size: 0;
    width: 250/@m;
    overflow: hidden;
    input {
        border: none;
        resize: none;
        width: 146/@d;
        height: 31/@d;
        font-size: 11/@d;
        font-weight: 400;
        box-shadow: 3/@d 3/@d 10/@d #b7ae58;
        padding-left: 13/@d;
        padding-right: 35/@d;
        vertical-align: top;
    }
}
.search-button {
    background: @dark;
    display: inline-block;
    .image('search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18/@d 18/@d;
    width: 31/@d;
    height: 31/@d;
    line-height: 31/@d;
    position: relative;
    right: 31/@d;
    cursor: pointer;
}
.element-box {
    width: 146/@d;
    box-shadow: 3/@d 3/@d 10/@d #b7ae58;
    position: absolute;
    bottom: 48/@d;
}
.element-header {
    background: @yellow2;
    border: 2/@d solid @dark;
    text-transform: uppercase;
    text-align: center;
    height: 29/@d;
    line-height: 27/@d;
}
.element-list {
    li {
        width: 146/@d;
        height: 32/@d;
        background: @lightgrey;
        transition: background 150ms ease-in-out;
        padding-top: 4/@d;
        padding-left: 10/@d;
        font-weight: 400;
        font-size: 11/@d;
        cursor: pointer;
        svg {
            width: 23/@d;
            height: 23/@d;
        }
        span {
            padding-left: 9/@d;
            vertical-align: top;
            line-height: 25/@d;
        }
    }
    li:hover {
        background: @darkgrey;
    }
}
.form-box {
    position: absolute;
    left: 500/@d;
    bottom: 48/@d;
    box-shadow: 3/@d 3/@d 10/@d #b7ae58;
}
.radio {
    width: 12/@d;
    height: 12/@d;
}
.form-header {
    width: 303/@d;
    height: 59/@d;
    border: 2/@d solid @dark;
    background: @yellow2;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    .form-header-text {
        padding-left: 28/@d;
        padding-right: 28/@d;
        line-height: 17/@d;
        padding-top: 12/@d;
    }
}
.close-button {
    background-repeat: no-repeat;
    background-position: center;
    width: 15/@d;
    height: 15/@d;
    margin-right: 2/@d;
    margin-top: 2/@d;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.form-content {
    background: @lightgrey;
    width: 303/@d;
    padding-top: 20/@d;
}
.form-wrap {
    padding-left: 35/@d;
    padding-right: 35/@d;
    padding-bottom: 12/@d;
}
.form-place {
    label {
        background: @yellow2;
        display: block;
        width: 238/@d;
        height: 33/@d;
        text-align: center;
        padding-top: 8/@d;
    }
    input {
        border: none;
        display: block;
        width: 238/@d;
        height: 33/@d;
        font-weight: 400;
        padding-left: 13/@d;
        padding-right: 13/@d;
        ::placeholder {
            color: @dark;
            opacity: 1;
        }
    }
}
.form-radio {
    .clear;
    input {
        cursor: pointer;
        width: 12/@d;
        height: 12/@d;
        background: #ffffff;
        border-radius: 50%;
        &:checked {
            background: @dark;
        }
        margin-right: 8/@d;
    }
    label {
        cursor: pointer;
        font-size: 11/@d;
        font-weight: 400;
        width: 50%;
        float: left;
        white-space: nowrap;
    }
    
}
.radio-label {
    background: @yellow2;
    display: block;
    width: 238/@d;
    height: 33/@d;
    text-align: center;
    padding-top: 8/@d;
    margin-bottom: 16/@d;
}
.form-story {
    label {
        background: @yellow2;
        display: block;
        width: 238/@d;
        height: 33/@d;
        text-align: center;
        padding-top: 8/@d;
    }
    textarea {
        border: none;
        display: block;
        width: 238/@d;
        height: 93/@d;
        resize: none;
        font-weight: 400;
        padding-top: 13/@d;
        padding-bottom: 13/@d;
        padding-left: 13/@d;
        padding-right: 13/@d;
        ::placeholder {
            color: @dark;
            opacity: 1;
        }
    }
}
.form-photo {
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}
.form-name {
    label {
        background: @yellow2;
        display: block;
        width: 238/@d;
        height: 33/@d;
        text-align: center;
        padding-top: 8/@d;
    }
    input {
        border: none;
        display: block;
        width: 238/@d;
        height: 33/@d;
        font-weight: 400;
        padding-left: 13/@d;
        padding-right: 13/@d;
        ::placeholder {
            color: @dark;
            opacity: 1;
        }
    }
}
.form-click {
    width: 62/@d;
    font-size: 9/@d;
    height: 29/@d;
    background: @dark;
    margin: 0 auto;
    text-align: center;
    line-height: 29/@d;
    border-radius: 2/@d;
    text-transform: uppercase;
    color: @yellow;
    cursor: pointer;
}
.posts-box {
    position: absolute;
    left: 900/@d;
    bottom: 48/@d;
    box-shadow: 3/@d 3/@d 10/@d #b7ae58;
}
.posts-header {
    width: 303/@d;
    height: 32/@d;
    border: 2/@d solid @dark;
    background: @yellow2;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    .posts-header-text {
        padding-left: 28/@d;
        padding-right: 28/@d;
        line-height: 17/@d;
        padding-top: 6/@d;
    }
}
.posts-content {
    background: @lightgrey;
    width: 303/@d;
    padding-top: 40/@d;
    position: relative;
}
.posts-container {
    position: relative;
    height: 344/@d;
}
.posts-wrap {
    padding-left: 31/@d;
    padding-right: 31/@d;
    padding-bottom: 18/@d;
}
.posts-content-header {
    padding-right: 70/@d;
    font-size: 17/@d;
}
.post-type {
    background-position: right;
    background-repeat: no-repeat;
    position: absolute;
    width: 44/@d;
    height: 44/@d;
    right: 12/@d;
}
.map-post {
    margin-bottom: 40/@d;
    font-weight: 400;
    font-size: 11/@d;
    .clear;
    &:last-child {
        margin-bottom: 0/@d;
    }
}
.map-post img {
    width: 100%;
    height: auto;
    margin-bottom: 12/@d;
}
.map-post-text {
    margin-bottom: 15/@d;
}
.map-post-name {
    float: left;
}
.map-post-date {
    float: right;
}
.posts-add {
    text-align: center;
    height: 55/@d;
    background: @lightgrey;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 13/@d;
    padding-top: 20/@d;
    cursor: pointer;
}
.grey {
    background: @dark;
    height: 125/@d;
    width: 100%;
}
.index-back {
    display: block;
}



/*
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 ----------------------------------------------MOBILE----------------------------------------------------
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 */

 @media only screen and (max-width: 768px) {
    body {
        font-size: 12/@m;
    }
    .wrapper {
        padding-top: 56/@m;
    }
    .header {
        position: fixed;
        height: 60/@m; 
        .main-menu {
            padding-top: 15/@m;
            padding-bottom: 15/@m;
            height: auto;
            top:60/@m;
            transform: translate3d(-100%, 0, 0);
            transition: transform 300ms ease-in-out;
        }
        li {
            .clear;
            display: block;
            width: 100%;
            background-color: transparent;
            margin-left: 0;
            font-size: 11/@m;    
            height: auto;
            font-size: 16/@m;
            &:first-child {
                margin-left: 0;
            }
            &:nth-child(4) {
                //height: 131/@m;
            }    
            > a {
                width: 100%;
                height: 100%;
                padding-left: 40/@m;
                padding-top: 15/@m;
                padding-bottom: 15/@m;
                position: relative;
                text-transform: uppercase;
                span {
                    z-index: 2;
                    position: relative;
                }
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: -4/@m;
                    bottom: -4/@m;
                    width: 100%;
                    background: @yellow;
                    display: none;
                }
                &:hover {
                    &:before {
                        width: 0;
                    }
                }
            }
            &.active {
                > a:after {
                    display:block;
                }
            }
        }
        background: @yellow;
        width: 100%;
        z-index: 50;
        ul {
            float: left;
            width: 100%;
        }
        .dropdown {
            opacity: 1;
            font-size: 12/@m;
            background-color: transparent;
            width: 100%;
            position: static;
            margin: 6/@m 0 0 0;
            display: none;
            li {
                line-height: 15/@m;
                width: 100%;
                font-size: 12/@m;
                font-weight: 400;
                height: auto !important;
                a {
                    text-transform: none;
                    padding-top: 6 / @m;
                    padding-bottom: 6 / @m;
                    padding-right: 18 / @m;
                }
                &:first-child {
                    margin: 0;
                }
            }
        }
        li.active {
             .dropdown {
                display:block;
             }
        }
    }
    .menu-opened {
        .main-menu {
            transform: translate3d(0, 0, 0);
        }
    }
    .main-menu {
        width: 173/@m;
        height: 401/@m;
        background: #ffffff;
        border: 2/@m solid @dark;
        position: absolute;
        left: 0;
    } 
    .menu-burger {
        display: block;
        float: right;
        width: 27/@m;
        height: 24/@m;
        margin-top: 14/@m;
        position: relative;
        left: 14/@m;
        cursor: pointer;
        .st0 {
            fill: @dark;
            stroke: @dark;
            stroke-width: 0;
        }
    }
    .wrap {
        width: 232/@m;
    }
    .logo {
        float: left;
        display: block;
        font-size: 16/@m;
        line-height: 19/@m;
        max-width: 150/@m;
        padding-top: 12/@m;
    }
    .back-button {
        display: none;
    }
    .index-footer {
        height: 119/@m;
        padding-top: 20/@m;;
    }
    .event-footer {
        height: 119/@m;
        padding-top: 32/@m;
        bottom: 10/@m;
    }
    .footer-container {
        margin-left: 236/@m;
        padding-top: 35/@m;
    }
    .back-button-bottom {
        right: 190/@m;
        bottom: 76/@m;
        width: 25/@m;
        height: 25/@m;
        background-size: 15/@m 13/@m;
    }
    .project-support {
        display: block;
        position: relative;
        left: 10/@m;
        top: -5/@m;
    }
    .footer-images {
        text-align: center;
        width: 100%;
    }
    .copyright {
        display: block;
        position: relative;
        margin: 0 auto;
        .footer-img1 {
            svg {
                width: 94/@m;
                height: 45/@m;
            }
            background-size: cover;
            margin-right: 45/@m;
            float: none;
        }
        .footer-img2 {
            bottom: 6/@m;
            svg {
                width: 87/@m;
                height: 35/@m;
            }
        }
        span {
            font-size: 9/@m;
            margin-right: 0;
            display: block;
        }
        .copy {
            padding-top: 16/@m;
            float: none;
            left: 0;
            white-space: nowrap;
            font-size: 7/@m;
            text-align: center;
        }
    }
    .back-button-events {
        left: 24/@m;
        width: 25/@m;
        height: 25/@m;
        &:before {
            background-size: 15/@m 13/@m;
        }
        &:after {
            background-size: 15/@m 13/@m;
        }
    }
    .go-back {
        //position: relative;
        height: 25/@m;
        .clear;
    }


    .find {
        padding-top: 0;
        position: relative;
        top: 460/@m;
    }
    .search-place {
        line-height: 49/@m;
        white-space: nowrap;
        input {
            border: none;
            resize: none;
            width: 231/@m;
            height: 49/@m;
            font-size: 16/@m;
            box-shadow: 3/@m 3/@m 10/@m #b7ae58;
            padding-left: 13/@m;
            padding-right: 55/@m;
        }
    }
    .search-button {
        background-size: 30/@m 30/@m;
        width: 49/@m;
        height: 49/@m;
        line-height: 49/@m;
        right: 49/@m;
    }
    .element-box {
        width: 231/@m;
        top: 35/@m;
        bottom: auto;
    }
    .element-header {
        height: 64/@m;
        line-height: normal;
        padding-top: 15/@m;
        .image('down-arrow.png');
        background-repeat: no-repeat;
        background-position: 50% 80%;
        cursor: pointer;
        background-size: 15/@m 9/@m;
    }
    .element-list {
        display: none;
        li {
            width: 231/@m;
            height: 49/@m;
            padding-top: 12/@m;
            padding-left: 16/@m;
            font-size: 16/@m;
            svg {
                width: 36/@m;
                height: 36/@m;
            }
            span {
                padding-left: 9/@m;
                line-height: 25/@m;
            }
        }
    }


    .form {
        display: none;
    }
    .form-box {
        left: 0;
        bottom: 0;
        top:0;
        box-shadow: none;
        box-shadow: 3/@m 3/@m 10/@m #b7ae58;
    }
    .radio {
        width: 12/@m;
        height: 12/@m;
    }
    .form-header {
        width: 100%;
        height: 59/@m;
        border: 2/@m solid @dark;
        .form-header-text {
            padding-left: 28/@m;
            padding-right: 28/@m;
            line-height: 17/@m;
            padding-top: 12/@m;
        }
    }
    .close-button {
        background-size: 16/@m 16/@m;
        width: 20/@m;
        height: 20/@m;
        margin-right: 2/@m;
        margin-top: 2/@m;
    }
    .form-content {
        width: 100%;
        padding-top: 26/@m;
    }
    .form-wrap {
        padding-left: 28/@m;
        padding-right: 28/@m;
        padding-bottom: 14/@m;
    }
    .form-place {
        label {
            width: 100%;
            height: 33/@m;
            padding-top: 8/@m;
        }
        input {
            width: 100%;
            height: 33/@m;
            padding-left: 13/@m;
            padding-right: 13/@m;
        }
    }
    .form-radio {
        input {
            width: 12/@m;
            height: 12/@m;
            margin-right: 8/@m;
        }
        label {
            font-size: 11/@m;
            width: 50%;
        }
        
    }
    .radio-label {
        width: 100%;
        height: 33/@m;
        padding-top: 8/@m;
        margin-bottom: 16/@m;
    }
    .form-story {
        label {
            width: 100%;
            height: 33/@m;
            padding-top: 8/@m;
        }
        textarea {
            width: 100%;
            height: 93/@m;
            padding-top: 13/@m;
            padding-bottom: 13/@m;
            padding-left: 13/@m;
            padding-right: 13/@m;
        }
    }

    .form-name {
        label {
            width: 100%;
            height: 33/@m;
            padding-top: 8/@m;
        }
        input {
            width: 100%;
            height: 33/@m;
            padding-left: 13/@m;
            padding-right: 13/@m;
        }
    }
    .form-click {
        width: 62/@m;
        font-size: 9/@m;
        height: 29/@m;
        line-height: 29/@m;
        border-radius: 2/@m;
    }



    .map-posts {
        display: none;
    }
    .map-intro {
        padding-top: 60/@m;
    }
    .desktop-heading {
       // display: none;
       padding-bottom: 20/@m;
    }
    .mobile-heading {
        display: inline-block;
        padding-bottom: 31/@m;
        padding-top: 31/@m;
        position: relative;
        cursor: pointer;
        &:before {
            content: " ";
            position: absolute;
            width: 0;
            height: 3/@m;
            top: 56/@m;
            left: 0;
            background: @yellow;
            transition: width 150ms ease-in-out;
        }
        &.active {
            &:before {
                width: 100%;
            }
        }
        h2 {
            font-size: 16/@m;
            text-transform: none;
        }
        &:nth-child(2) {
            float: right;
        }

    }
    .map-intro-text {
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        h2 {
            font-size: 16/@m;
        }
        columns: 230/@m 1;
    }
    .map-column {
        display: none;
    }
    .map-text {
        max-width: 230/@m;
        p {
            font-size: 14/@m;
            padding-bottom: 35/@m;
        }
    }

    .map {
        height: 555/@m;
    }
    .posts-box {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        box-shadow: none;
        position: absolute;
        overflow: hidden;
    }
    .posts-header {
        width: 100%;
        height: 32/@m;
        border: 2/@m solid @dark;
        .posts-header-text {
            padding-left: 28/@m;
            padding-right: 28/@m;
            line-height: 17/@m;
            padding-top: 6/@m;
        }
    }
    .posts-content {
        width: 100%;
        padding-top: 38/@m;
    }
    .posts-container {
        height: auto;
    }
    .posts-wrap {
        padding-left: 31/@m;
        padding-right: 31/@m;
        padding-bottom: 18/@m;
    }
    .posts-content-header {
        padding-right: 70/@m;
        font-size: 17/@m;
    }
    .post-type {
        width: 44/@m;
        height: 44/@m;
        right: 12/@m;
    }
    .map-post {
        margin-bottom: 40/@m;
        font-size: 11/@m;
        &:last-child {
            margin-bottom: 0/@m;
        }
    }
    .map-post img {
        margin-bottom: 12/@m;
    }
    .map-post-text {
        margin-bottom: 15/@m;
    }
    .posts-add {
        height: 55/@m;
        font-size: 13/@m;
        padding-top: 20/@m;
    }
    .grey {
        height: 98/@m;
    }
    .map-back-button {
        padding-top: 40/@m;
        a {
            &:nth-child(1) {
                transform: rotate(90deg);
                left: 14/@m;
            }
            &:nth-child(2) {
                left:3/@m;
            }
        }
    }

    //---------------------------------
    .gallery-images {
        .clear;
        margin: 0 -9/@m;
        padding-right: 0;
        .gallery-image {
            width: 100%;
            height: 152/@m;
            padding-left: 9/@m;
            padding-right: 9/@m;
            float: left;
            margin-bottom: 18/@m;
            > div {
                background-size: cover;
                height: 152/@m;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .gallery {
         margin-bottom: 40/@m;
    }
    .gallery-container {
        padding-top: 90/@m;
    }
    .active-image {
       background: #000000;
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       opacity: 0;
       transition: opacity 150ms ease-in-out;
   }
    .hover-image {
        span {
           color: #ffffff;
           position: absolute;
           padding: 15/@m;
           z-index: 1;
           opacity: 0;
           transition: opacity 150ms ease-in-out;
        }
   }
    .image-class {
        position: relative;
        cursor: pointer;
        &:hover {
           .active-image {
               opacity: 0.7;
           }
           .hover-image {
               span {
                   opacity: 0.9;
               }
           }
           .plus-num {
               span {
                   opacity: 1;
               }
           }
        }
    }
    .dots {
        display: block;
        font-size: 35/@m;
        font-weight: 400;
        cursor: pointer;
        text-align: center;
        float: left;
        width: 100%;
        margin-top: -15/@m;
    }
    .last-image {
       background: #000000;
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       opacity: 0.7;
    }
    .plus-num {
        display: none;
    }
    .gallery-text {
        margin-top: 0;
        margin-bottom: 25/@m;
        .clear;
        
    }
    .event-name {
        max-width: 200/@m;
        float: left;
        margin-right: 50/@m;
    }
    .gallery-date {
        float: left;
        padding-right: 0;
        padding-bottom: 7/@m;
    }
   
   .gallery-back-button {
       margin-top: 0;
       margin-bottom: 75/@m;
   }
   .gallery-container {
       margin-bottom: 100/@m;
   }
   .go-back {
    a {
        &:nth-child(1) {
            transform: rotate(90deg);
            left: 30/@m;
            display: inline-block;
        }
        &:nth-child(2) {
            left:17/@m;
        }
   }
   }

   .contact-text {
        float: left;
        .clear;
        margin-top: 198/@m;
        font-weight: 400;
        line-height: 15/@m;
        p {
            margin-bottom: 20/@m;
        }
}
    .contact-img {
        position: absolute;
        left: 0;

        float: right;
        .clear;
        margin-top: 0;
        margin-right: 22/@m;
        img {
            width: 100vw;
            height: auto;
        }
        margin-bottom: 42/@m;
}
    .contact-footer .event-footer {
        position: static;
        padding-top: 10/@m;
    }
    .contact-back-button {
        margin-top: 0;
        margin-bottom: 75/@m;
        a {
            &:nth-child(1) {
                transform: none;
                left: 0;
            }
        }
    }


    .branch {
        left: 192/@m;
        width: 71/@m;
        height: 29/@m;
        top: 14/@m;
    }
    .hand {
        top: 264/@m;
        width: 78/@m;
        height: 130/@m;
        left: 220/@m;
    }
    .leaf-image {
        height: 161/@m;
        width: 105/@m;
        left: 89/@m;
        top: 502/@m;
    }
    .spider-image {
        width: 76/@m;
        height: 94/@m;
        top: 651/@m;
        left: 72/@m;
    }
    .open-image {
        width: 78/@m;
        height: 98/@m;
        top: 674/@m;
        left: 188/@m;
    }
    .small-leaf1 {
        width: 28/@m;
        height: 46/@m;
        top: 760/@m;
        left: 74/@m;
    }
    .small-leaf2 {
        width: 28/@m;
        height: 46/@m;
        top: 760/@m;
        left: 220/@m;
    }
    .eyes-image {
        width: 34/@m;
        height: 13/@m;
        top: 784/@m;
        left: 144/@m;
    }
    .mouth-image {
        width: 48/@m;
        height: 28/@m;
        top: 812/@m;
        left: 137/@m;
    }
    .chin-image {
        width: 12/@m;
        height: 12/@m;
        top: 864/@m;
        left: 155/@m;
    }
    .tree {
        .image('grid-mobile.svg');
        background-size: 322/@m auto;
        height: 2044/@m;
        background-repeat: no-repeat;
        background-position: center top;
        position: relative;
    }
    .main-image img {
        left: 484/@m;
        top: 46/@m;
        width: 273/@m;
        height: 535/@m;
    }
    .text {
        line-height: 15/@m;
    }
    .text1 {
        width: 161/@m;
        top: 108/@m;
        left: 55/@m;

    }
    .text2 {
        width: 92/@m;
        top: 415/@m;
        left: 29/@m;
        font-size: 10/@m;
        text-align: center;
        line-height: 12/@m;

        span {
            font-size: 7/@m;
            padding-top: 5/@m;
            margin-top: 6/@m;
            line-height: 10/@m;
            max-width: 45/@m;
            margin: 0 auto;
        }
    }
    .text3 {
        width: 92/@m;
        left: 173/@m;
        top: 450/@m;
        font-size: 10/@m;
        text-align: center;
    }
    
    .col {
        h2 {
            margin-bottom: 17/@m;
        }
        line-height: 18/@m;
    }
    .more-button {
        width: 26/@m;
        height: 26/@m;
        margin-top: 5/@m;
        &:before {
            background-size: 15/@m 12/@m;
        }
        &:after {
            background-size: 15/@m 12/@m;
        }
    }
    .col-1 {
        top: 974/@m;
        left: 88/@m;
        width: 200/@m;
    }
    .col-2 {
        top: 1320/@m;
        left: 88/@m;
        width: 400/@m;
        line-height: 14/@m;
        .more-button {
            margin-top: 3/@m;
        }
    }
    .post-container {
        margin-bottom: 16/@m;
        max-width: 138/@m;
    }
    .post-link-event {
        width: 300/@m;
        height: 28/@m;
        max-width: 150/@m;
        white-space: normal;
        text-overflow: clip;
    }
    
    .ground {
        top: 1795/@m;
        left: 56/@m;
        height: 334/@m;
        background-color: transparent;
        z-index: 20;
    }
    .manifest {
        margin-left: 0;
        margin-top: 60/@m;
        max-width: 210/@m;
        line-height: 14/@m;
        h2 {
            font-size: 17/@m;
            margin-bottom: 18/@m;
        }
    }
    /*
     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
     ----------------------------------------------SHARE------------------------------------------------------
     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
     */
    .share {
        height: 514/@m;
        margin-top: -2/@m;
    }
    .share-container {
        top: 26/@m;
        left: 56/@m;
        textarea {
            border: 5/@m solid @dark;
        }
    }
    .message {
        margin-bottom: 28/@m;
        max-width: 160/@m;
    }
    .name {
        max-width: 200/@m;
        margin-bottom: 20/@m;
    }
    .message span {
        top: 0;
        font-size: 16/@m;
        line-height: 20/@m;
    }
    .message textarea {
        width: 220/@m;
        height: 210/@m;
        padding: 14/@m 19/@m;
        margin-top: 13/@m;
        font-size: 16/@m;
    }
    .name span {
        top: 0;
        font-size: 16/@m;
        text-transform: none;
    }
    .name textarea {
        width: 219/@m;
        height: 65/@m;
        padding-top: 8/@m;
        padding-left: 17/@m;
        padding-right: 17/@m;
        padding-bottom: 5/@m;
        margin-top: 15/@m;
        font-size: 16/@m;
    }
    .share-button {
        width: 98/@m;
        height: 45/@m;
        line-height: 45/@m;
        left: 6/@m;
        bottom: 16/@m;
        border-radius: 3/@m;
        top: -7/@m;
        left: 58/@m;
        font-size: 16/@m;
    }
    .flag svg {
        width: 171/@m;
        height: 317/@m;
        left: 723/@m;
        top: 18/@m;
    }
    /*
     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
     ----------------------------------------------COMMENTS---------------------------------------------------
     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
     */
    .comments {
        .clear;
        background: @dark;
        color: @yellow;
        position: relative;
        z-index: 5;
        padding-bottom: 80/@m;
    }
    .comment-container {
        padding-top: 40/@m;
    }
    .item {
        width: 224/@m;
        margin-bottom: 44/@m;
        margin-right: 21/@m;
        padding-left: 11px;
    }
    .item p {
        margin-bottom: 18/@m;
    }
    .author {
        text-align: right;
    }
    .comment-container[data-columns]::before {
        content: '3 .column.size-1of3';
    }
    .column { float: left; }
    .size-1of3 { width: 246/@m; }

    .index-back-button {
        display: none;
    }


    .event-section {
     margin-bottom: 140/@m;
    }
     .events {
        max-width: 600/@m;
        margin-top: 25/@m;
        border-left: 5/@m solid @yellow;
        border-top: 5/@m solid @yellow;
    }
     .event {
         width: 113/@m;
         height: 113/@m;
         border-right: 5/@m solid @yellow;
         border-bottom: 5/@m solid @yellow;
     }
     .top-event {
        border-top: 5/@m solid white;
        height: (113+5)/@m;
     }
     .event-container {
         margin-top: 7/@m;
         margin-left: 7/@m;
     }
     .date {
        font-size: 13/@m;
        padding-bottom: 12/@m;
     }
     .event-title {
         font-size: 10/@m;
         max-width: 76/@m;
         line-height: 11/@m;
     }
     .more {
         right: -4/@m;
         bottom: -4/@m;
     }
     .registration {
        font-size: 13/@m;
        right: -4/@m;
        top: -4/@m;
        width: 26/@m;
        height: 26/@m;
        border: 5/@m solid @yellow;
        line-height: 17/@m;
     }
     .months {
         position: static;
         columns: 2;
         padding-top: 36/@m;
         margin-left: 1/@m;
     }
     .months ul {
        line-height: 25/@m;
     }
     .months li {
        a {
            &:before {
                height: 2/@m;
                top: 19/@m;
            }
        }
        
     }
    .reg-back {
        margin-bottom: 50/@m;
        margin: 0;
        margin-bottom: 28/@m;
        left: 0;
    }
     .registration-div {
         margin-top: 24/@m;
         .r-box {
             border: 5/@m solid @yellow;
             width: 26/@m;
             height: 26/@m;
             line-height: 17/@m;
             font-size: 13/@m; 
         }
         span {
             margin-left: 7/@m;
         }
     }



     .news-top {
         p {
             font-weight: 400;
         }
         position: relative;
     }
     .news-top-text {
        //padding-right: 475/@m;
        max-width: 315/@m;
        margin-top: 57/@m;
        float: left;
        .clear;
        font-size: 12/@m;
         h2 {
             font-size: 13/@m;
             margin-bottom: 18/@m;
             font-size: 16/@m;
         }
         p {
             margin-bottom: 20/@m;
         }
         position: relative;
     }

     //-------
.news-images {
    position: static;
    left: 495/@m;
     bottom: 66/@m;
     padding-right: 0;
     margin-left: -44/@m;
     margin-right: -44/@m;
     img {
        display: block;
         width: 100%;
         height: auto;
         margin-bottom: 25/@m;
     }
     div {
         width: 100%;
         height: 213/@m;
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
     }
 }
 .news-image-1 {
    position: relative;
    display: none;
    right: 0;
    margin-bottom: 18/@m;
 }
     .news-image-2 {
        display: none;
     }
//---------------

     .news-date {
         left: 44/@m;
         top: 30/@m;
         font-size: 16/@m;
     }
     .news-video {
         .image('mobile-video-bg.png');
         background-size: 320/@m auto;
         height: 291/@m;
         background-repeat: no-repeat;
         background-position: center top;
         position: relative;
         margin-top: 40/@m;
         margin-bottom: 23/@m; 
         iframe {
             width: 254/@m;
             height: 139/@m;
             position: relative;
            top: 31/@m;
            width: 254/@m;
            height: 142/@m;
            right: 11/@m;
         }
     }
     .video-text {
         line-height: 12/@m;
         font-size: 10/@m;
         font-weight: 400;
         left: 60/@m;
        top: 222/@m;
        max-width: 200/@m;
     }
     .news-area {
         font-size: 12/@m;
         padding-right: 0;
         margin-bottom: 23/@m;
         font-weight: 400;
     }

     .other-news {
         margin-bottom: 15/@m;
         margin-top: 40/@m;
         margin-left: 89/@m;
     }
     .other-news-header {
         font-size: 17/@m;
         text-transform: uppercase;
         margin-bottom: 19/@m;
     }
     .other-news-item {
         max-width: 145/@m;
         margin-right: 25/@m;
         font-size: 13/@m;
         line-height: 15/@m;
         display: inline-block;
         margin-bottom: 28/@m;
     }
     .news-back-button .go-back {
         position: relative;
         bottom: 76/@m;
     }

      .big-image {
         width: 100%;
         height: auto;
         margin-bottom: 0;
     }
     .news-top-content {
        padding-right: 0;
        margin-top: 57/@m;
        float: left;
        .clear;
        font-size: 10/@m;
         h2 {
             font-size: 13/@m;
             margin-bottom: 30/@m;
         }
         position: relative;
     }
     .news-text {
        columns: 1;
        column-gap: 0;
        margin-bottom: 10/@m;
        p {
            margin-bottom: 20/@m;
        }
     }
     .big-image-wrap .wrap {
        margin: 0;
        width: 100%;
     }
     


 }